%setBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

%setText {
    color: var(--additional-dark-gray);
    text-align: center;
    font-family: var(--pages-font-family);
    letter-spacing: -1px;
    font-style: normal;
    line-height: 50px;
    font-weight: 700;
    font-size: 50px;
    height: auto;
    width: auto;
    margin: 0;
}

.hiring {
    position: relative;
    flex-direction: column;
    padding-bottom: 165px;
    padding-top: 140px;
    @extend %setBlock;
    gap: 30px;

    h2 {
        @extend %setText;
    }

    p {
        @extend %setText;
        color: var(--primary-orange);
        letter-spacing: -0.24px;
        line-height: 30px;
        font-weight: 400;
        font-size: 24px;
    }

    button {
        @extend %setBlock;
        border-radius: 32.5px;
        padding: 13px 5.25px 14px 3.94px;
        background: var(--complementary-green);
        cursor: pointer;
        border: none;

        h5 {
            color: var(--primary-white);
            font-size: 18px;
            line-height: 18px;
            @extend %setText;
            width: 233.805px;
        }
    }

    button:hover {
        outline: 1px solid var(--complementary-green);
        background: var(--primary-white);

        h5 {
            color: var(--complementary-green);
        }
    }

    .rightpic {
        position: absolute;
        height: auto;
        width: auto;
        top: 100px;
        right: 0;
    }

    .leftpic {
        position: absolute;
        height: auto;
        width: auto;
        top: 100px;
        left: 0;
    }
}