@font-face {
    font-family: CircularStd;
    src: url(../../assets/font/CircularStd-Book/CircularStd-Book.ttf);
}

%setText {
    color: #3D4F5C;
    font-family: CircularStd;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
    height: auto;
    width: auto;
    margin: 0;
}

%setBlock {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: auto;
}

.values {
    @extend %setBlock;
    position: relative;
    background: #FBFAFA;
    flex-direction: column;
    padding: 172px 120px 196px;
    gap: 117px;

    h1 {
        @extend %setText;
    }

    article {
        @extend %setBlock;
        align-items: flex-end;
        gap: 74px;

        div {
            @extend %setBlock;
            flex-direction: column;
            gap: 25px;

            h3 {
                @extend %setText;
                color: var(--primary-orange);
                font-size: 30px;
                line-height: 30px;
                letter-spacing: -0.3px;
                margin-bottom: 5px;
            }

            .line {
                width: 50px;
                border: 1px solid #3D4F5C;
            }

            p {
                @extend %setText;
                color: #3D4F5C;
                font-size: 30px;
                font-weight: 400;
                line-height: 38px;
                letter-spacing: -0.3px;
            }
        }
    }

    img {
        position: absolute;
        height: auto;
        width: auto;
        right: 153px;
        top: 154px;
    }
}