%setText {
    font-family: var(--pages-font-family);
    color: var(--additional-dark-gray);
    letter-spacing: -1px;
    font-style: normal;
    line-height: 50px;
    font-weight: 700;
    font-size: 50px;
    height: auto;
    width: auto;
    margin: 0;
}

%setBlock {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.values {
    gap: 117px;
    @extend %setBlock;
    position: relative;
    flex-direction: column;
    padding: 172px 120px 196px;
    background: var(--primary-light-gray);

    h1 {
        @extend %setText;
    }

    article {
        @extend %setBlock;
        align-items: flex-end;
        gap: 74px;

        div {
            @extend %setBlock;
            flex-direction: column;
            gap: 25px;

            h3 {
                font-size: 30px;
                @extend %setText;
                line-height: 30px;
                margin-bottom: 5px;
                letter-spacing: -0.3px;
                color: var(--primary-orange);
            }

            .line {
                width: 50px;
                border: 1px solid var(--additional-dark-gray);
            }

            p {
                color: var(--additional-dark-gray);
                letter-spacing: -0.3px;
                line-height: 38px;
                @extend %setText;
                font-weight: 400;
                font-size: 30px;
            }
        }
    }

    img {
        position: absolute;
        right: 153px;
        height: auto;
        width: auto;
        top: 154px;
    }
}