%setText {
    font-family: var(--pages-font-family);
    letter-spacing: -0.3px;
    font-style: normal;
    line-height: 38px;
    color: var(--additional-dark-gray);
    font-weight: 400;
    font-size: 30px;
    height: auto;
    width: auto;
    margin: 0;
}

%setBlock {
    justify-content: center;
    display: flex;
    height: auto;
    width: auto;
}

.who {
    gap: 79px;
    @extend %setBlock;
    position: relative;
    background: var(--primary-light-gray);
    flex-direction: column;
    align-items: flex-start;
    padding: 147px 120px 157px;

    .form-desc {
        gap: 32px;
        @extend %setBlock;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            font-size: 50px;
            font-weight: 700;
            @extend %setText;
            line-height: 50px;
            letter-spacing: -1px;
        }

        p {
            font-size: 24px;
            @extend %setText;
            line-height: 30px;
            letter-spacing: -0.24px;
            color: var(--primary-orange);
        }
    }

    .form-defeni {
        align-items: flex-start;
        @extend %setBlock;
        gap: 80px;
        
        div {
            align-items: flex-start;
            flex-direction: column;
            @extend %setBlock;
            gap: 20px;

            h4 {
                color: var(--primary-orange);
                line-height: 30px;
                @extend %setText;
                font-weight: 700;
                font-size: 30px;
            }
        
            .line {
                width: 50px;
                border: 1px solid var(--additional-dark-gray);
            }
        
            p {
                @extend %setText;
            }
        }
    }

    img {
        position: absolute;
        right: 159px;
        height: auto;
        width: auto;
        top: 146px;
    }
}