%setText {
    font-family: var(--pages-font-family);
    letter-spacing: -0.16px;
    text-align: center;
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: var(--additional-dark-gray);
    height: auto;
    width: auto;
    margin: 0;
}

%setBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.ourworks {
    @extend %setBlock;
    flex-direction: column;
    padding: 140px 120px 180px;
    gap: 55px;

    h1 {
        font-size: 50px;
        font-weight: 700;
        @extend %setText;
        color: var(--additional-dark-gray);
        line-height: 50px;
        letter-spacing: -0.5px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        grid-gap: 25px;
        
        .card {
            box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
            padding: 45px 71px 50px 69px;
            border-radius: 30px;
            background: var(--primary-white);
            
            .card-body {
                flex-direction: column;
                @extend %setBlock;
                padding: 0;
                gap: 6px;
        
                .h5 {
                    font-size: 32px;
                    font-weight: 700;
                    @extend %setText;
                    color: var(--additional-blue);
                    line-height: 30px;
                    letter-spacing: -0.32px;
                }
        
                p {
                    @extend %setText;
                    margin-top: 19px;
                    width: 387px;
                }

                img {
                    width: 448px;
                    height: 294px;
                }

                button {
                    border: 1px solid var(--complementary-green);
                    padding: 14px 30.51px 13px 31.49px;
                    color: var(--complementary-green);
                    border-radius: 32.5px;
                    line-height: 18px;
                    @extend %setBlock;
                    margin-top: 13px;
                    @extend %setText;
                    background: none;
                    font-weight: 700;
                    font-size: 18px;
                }

                button:hover {
                    background: var(--complementary-green);
                    color: var(--primary-white);
                }
            }
        }
    }

    .block-infa {
        @extend %setBlock;
        margin-top: 125px;
        gap: 33px;

        p {
            color: var(--primary-orange);
            letter-spacing: -0.4px;
            @extend %setText;
            line-height: 45px;
            font-weight: 700;
            font-size: 40px;
            width: 882px;
        }

        img {
            height: auto;
            width: auto;
        }
    }
}