%setText {
    font-family: var(--pages-font-family);
    letter-spacing: -1.7px;
    font-style: normal;
    line-height: 85px;
    color: var(--additional-dark-gray);
    font-weight: 700;
    font-size: 85px;
    height: auto;
    width: auto;
    margin: 0;
}

%setBlock {
    justify-content: center;
    display: flex;
    height: auto;
    width: auto;
}

.header-page {
    gap: 145px;
    @extend %setBlock;
    position: relative;
    flex-direction: column;
    padding: 30px 120px 225px;

    .header-nav {
        @extend %setBlock;
        align-items: none;
        flex-direction: row;
        justify-content: space-between;

        a {
            img {
                align-self: center;
                color: var(--additional-light-black);
                position: static;
                cursor: pointer;
                height: auto;
                width: auto;
            }
        }
    }

    .header-body {
        gap: 25px;
        @extend %setBlock;
        flex-direction: column;

        h1 {
            @extend %setText;
        }

        p {
            font-size: 24px;
            font-weight: 400;
            @extend %setText;
            line-height: 30px;
            letter-spacing: -0.24px;
            color: var(--primary-orange);
        }

        button {
            outline: 1px solid var(--complementary-green);
            background: var(--complementary-green);
            padding: 13px 20px 14px;
            border-radius: 32.5px;
            align-items: center;
            @extend %setBlock;
            cursor: pointer;
            border: none;
            width: 157px;
            
            h5 {
                color: var(--primary-white);
                font-size: 18px;
                @extend %setText;
                line-height: 18px;
                letter-spacing: -0.18px;
            }
        }

        button:hover {
            background: var(--primary-white);
            h5 {
                color: var(--complementary-green);
            }
        }
    }

    img {
        position: absolute;
        width: 704.816px;
        height: 507px;
        bottom: 0;
        right: 0;
    }
}