@font-face {
    font-family: CircularStd;
    src: url(../../assets/font/CircularStd-Book/CircularStd-Book.ttf);
}

%setBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

%setText {
    color: #3D4F5C;
    font-family: CircularStd;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.18px;
    height: auto;
    width: auto;
    margin: 0;
}

.navbar {
    @extend %setBlock;
    gap: 40px;

    h3 {
        @extend %setText;
        cursor: pointer;
    }

    button {
        padding: 15px 35px 16px 34px;
        border: 1px solid var(--complementary-green);
        border-radius: 32.5px;
        background: none;
        margin-left: 2px;
        cursor: pointer;
        p {
            @extend %setText;
            color: var(--complementary-green);
            text-align: center;
            font-weight: 700;
            line-height: 100%;
            margin: 0;
        }
    }
}