%setBlock {
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    width: auto;
}

%setText {
    font-family: var(--pages-font-family);
    letter-spacing: -0.18px;
    font-style: normal;
    line-height: 18px;
    font-weight: 400;
    color: var(--additional-dark-gray);
    font-size: 18px;
    height: auto;
    width: auto;
    margin: 0;
}

.navbar {
    @extend %setBlock;
    gap: 40px;

    h3 {
        @extend %setText;
        cursor: pointer;
    }

    h3:hover {
        text-decoration: underline;
    }

    button {
        border: 1px solid var(--complementary-green);
        padding: 15px 35px 16px 34px;
        border-radius: 32.5px;
        background: none;
        margin-left: 2px;
        cursor: pointer;

        p {
            color: var(--complementary-green);
            @extend %setText;
            text-align: center;
            font-weight: 700;
            line-height: 100%;
            margin: 0;
        }
    }

    button:hover {
        background: var(--complementary-green);

        p {
            color: var(--primary-white);
        }
    }
}