%setBlock {
    justify-content: center;
    display: flex;
    height: auto;
    width: auto;
}

%setText {
    font-family: CircularStd;
    font-style: normal;
    line-height: 30px;
    color: var(--additional-light-white);
    font-weight: 400;
    font-size: 18px;
    height: auto;
    width: auto;
    margin: 0;
}

.footer-page {
    @extend %setBlock;
    justify-content: space-between;
    padding: 90px 136px 123px 120px;

    .desc-logo {
        gap: 84.56px;
        @extend %setBlock;
        flex-direction: column;
        align-items: flex-start;

        a {
            img {
                width: auto;
                height: auto;
                color: var(--additional-light-black);
            }
        }

        h5 {
            @extend %setText;
        }
    }

    section {
        @extend %setBlock;
        align-items: flex-start;

        article {
            gap: 19px;
            @extend %setBlock;
            flex-direction: column;
            align-items: flex-start;
    
            h3 {
                @extend %setText;
                color: var(--additional-dark-gray);
                line-height: 18px;
            }
    
            div {
                gap: 11px;
                @extend %setBlock;
                flex-direction: column;
                align-items: flex-start;
    
                p {
                    line-height: 24px;
                    @extend %setText;
                    color: var(--additional-light-white);
                    width: 328px;
                }
    
                a {
                    text-decoration: none;
    
                    h5 {
                        color: var(--complementary-green);
                        line-height: 35px;
                        @extend %setText;
                    }
    
                    .icon-link {
                        color: var(--complementary-green);
                        height: 23px;
                        width: 23px;
                    }
                }
            }
        }
    }
}