.form-sect form button, .form-sect form, .form-sect {
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  width: auto;
}

.form-sect form textarea::-moz-placeholder, .form-sect form input::-moz-placeholder {
  font-family: var(--tex-secondary-font-family);
  font-style: normal;
  line-height: 18px;
  color: var(--additional-light-white);
  font-weight: 400;
  font-size: 18px;
  height: auto;
  width: auto;
  margin: 0;
}

.form-sect form button h6, .form-sect form textarea::placeholder, .form-sect form textarea, .form-sect form input::placeholder, .form-sect form input, .form-sect p, .form-sect h1 {
  font-family: var(--tex-secondary-font-family);
  font-style: normal;
  line-height: 18px;
  color: var(--additional-light-white);
  font-weight: 400;
  font-size: 18px;
  height: auto;
  width: auto;
  margin: 0;
}

.form-sect {
  background: var(--secondary-yellow);
  padding: 60px 124px 70px;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  gap: 34px;
}
.form-sect h1 {
  font-family: var(--pages-font-family);
  letter-spacing: -1.2px;
  line-height: 55px;
  font-weight: 700;
  font-size: 60px;
  color: var(--primary-white);
}
.form-sect p {
  color: var(--primary-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.24px;
}
.form-sect form {
  box-shadow: 0px 8px 35px 0px var(--additional-yellow);
  padding: 72px 42px 40px 41px;
  flex-direction: column;
  background: #F3F3F3;
  border-radius: 10px;
  gap: 16px;
}
.form-sect form input {
  box-shadow: 0px 8px 35px 0px var(--additional-yellow);
  border-radius: 10px;
  background: var(--primary-white);
  color: var(--primary-black);
  cursor: pointer;
  padding: 0 16px;
  width: 429px;
  height: 54px;
  border: none;
}
.form-sect form input::-moz-placeholder {
  text-align: left;
  margin: 0;
}
.form-sect form input::placeholder {
  text-align: left;
  margin: 0;
}
.form-sect form textarea {
  box-shadow: 0px 8px 35px 0px var(--additional-yellow);
  border-radius: 10px;
  background: var(--primary-white);
  padding: 18px 16px;
  color: var(--primary-black);
  max-width: 429px;
  min-width: 429px;
  cursor: pointer;
  height: 270px;
  border: none;
}
.form-sect form textarea::-moz-placeholder {
  text-align: left;
  margin-top: 20px;
}
.form-sect form textarea::placeholder {
  text-align: left;
  margin-top: 20px;
}
.form-sect form button {
  padding: 13px 39.93px 14px 39.07px;
  border: 1px solid var(--additional-dark-gray);
  border-radius: 32.5px;
  background: var(--additional-dark-gray);
  margin-top: 18px;
  cursor: pointer;
}
.form-sect form button h6 {
  font-family: var(--pages-font-family);
  text-align: center;
  color: #FBFBFA;
  font-weight: 700;
}
.form-sect form button:hover {
  background: none;
}
.form-sect form button:hover h6 {
  color: var(--additional-dark-gray);
}
.form-sect img {
  fill: var(--primary-orange);
  position: absolute;
  right: 111.57px;
  bottom: 0.42px;
  height: auto;
  width: auto;
}/*# sourceMappingURL=Form.css.map */